.jumbotron {
    margin-top: 0px;
    background-image: url('../Assets/banner-home.jpg');
    max-width: 1536px;
    
}
/*
.jumbotron:hover {
    background-image: url('../Assets/banner-wall-hover.jpg')
}
*/

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}
